<% votes = num_votes(question) %>
<%=h votes %>
<% if votes == 1 %>
	<div class='unitCaption'>vote</div>
<% else %>
	<div class='unitCaption'>votes</div>
<% end %>
<div class='unitCaption'>
<% if logged_in %>
	<% user = User.find_by_id(session[:user_id]) %>
	<% unless already_voted(user, question) %>
		<%= link_to_remote "+",
				:url => {:action => :add_vote, 
						 :id     => question.id,
						 :user   => user.id},
		 		:update => 'votes'+question.id.to_s %>
		<%= link_to_remote "-",
				:url => {:action => :remove_vote, 
						 :id     => question.id,
						 :user   => user.id},
			 	:update => 'votes'+question.id.to_s %>
	<% end %>
<% end %>
</div>