<%= render :partial => 'questions/title', :locals => { :title => 'About Us' } %>
<h2> Why make another site to practice Academic Games? </h2>
<p> This site is different! We promise. </p>
<p> You see, this web site has a different purpose than most study sites. Instead of focusing on the plain studying, our site hopes to foster community. We allow people to add questions themselves. This creates a huge database of questions that our study tool can pull from. </p>
<h2> Okay. But, wouldn't some questions be bad, and even wrong? </h2>
<p> Yes! You are completely right! But, don't worry, we made sure to think of this too. Instead of just listing questions, we allow people to rate the questions on two different counts. </p>
<ol>
<li> First, we use a <b>voting system</b> to determine the quality of questions. If you disagree with a question or think that it is poorly written, then down-vote it. However, if you like a question and believe that it is correct, go ahead and up-vote it.</li>
<li> Next, we use <b>difficulty ratings</b> to determine how <i>obvious</i> the answer to a question is. Do not get these two confused. Just because a question doesn't have an obvious answer, does not mean that it is a bad question.
</ol>
<p> Lastly, like any good community site, we have moderators that can go in and edit and delete questions as they see fit. </p>